parameters:
    database_driver:    pdo_mysql
    database_host:      127.0.0.1
    database_port:      ~
    database_name:      temporable
    database_user:      root
    database_password:  root

    mailer_transport:   smtp

    locale: ru_RU
    secret: T3mp0rab13s3kr3t

    dev_email: test@test

