{#  Copyright 2014 Vitaly Bormotov <bormvit@mail.ru>

    This file is part of Quilfe Temporable. 

    Quilfe Temporable is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Quilfe Temporable is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Quilfe Temporable. If not, see <http://www.gnu.org/licenses/>
#}
{% set menu = {
    'homepage': 'Отслеживание времени',
    'actual_tasks': 'Актуальные задачи',
    'reports': 'Отчет по проектам',
    'days': 'Отчет по дням',
    'sonata_admin_dashboard': 'Администрирование'
} %}
<ul class="menu">
    {% for route, title in menu %}
        {% if current is defined and current == route %}
            <li class="active">{{ title }}</li>
        {% else %}
            <li>
                <a href="{{ path(route) }}">{{ title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
<div class="status">{{ 'now'|date('H:i:s d.m.Y') }}</div>
