/**
 *  Copyright 2014 Vitaly Bormotov <bormvit@mail.ru>
 *
 *  This file is part of Quilfe Temporable. 
 *
 *  Quilfe Temporable is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Quilfe Temporable is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with Quilfe Temporable. If not, see <http://www.gnu.org/licenses/>.
**/

/* base styles */
body {
    padding: 15px 20px 10px;
}
.action-link  {
    border-bottom: 1px dotted;
}
a, a:link, a:visited {
    text-decoration: underline;
}
a, a:link, a:visited, .action-link {
    cursor: pointer;
    color: #008ace;
}
a:hover, .action-link:hover {
    color: #cc0000;
}

/* global styles */
body.dark {
    background-color: black;
    color: white;
}
body.dark a, body.dark a:link, body.dark a:visited, body.dark .action-link {
    color: #ff7531;
}
body.dark a:hover, body.dark .action-link:hover {
    color: #33ffff;
}
input[type="button"] {
    background-color: #cccccc;
    border: 1px solid black;
    border-radius: 5px;
}
body.dark input[type="text"], body.dark input[type="button"] {
    background-color: #333333;
    border: 1px solid white;
    border-radius: 5px;
}
input[type="button", disabled="disabled"] {
    cursor: normal;
    color: #555555;
}
div.status {
    margin-right: 25px;
    padding: 0.3em 10px;
    position: absolute;
    font-size: 12px;
    z-index: 500;
    right: 0;
}
ul.menu {
    margin-left: 25px;
    padding: 0.3em 10px;
    list-style-type: none;
    position: absolute;
    background-color: #eeeeee;
    border: 1px solid #999999;
    border-radius: 10px;
    font-size: 11px;
    z-index: 500;
}
body.dark ul.menu {
    background-color: #444444;
}
ul.menu > li {
    padding: 0.15em 0;
}
ul.menu > li.active {
    opacity: 0.8;
    font-weight: bold;
}
.good {
    color: #008800;
}
.bad {
    color: #cc0000;
}
.info {
    color: #000088;
}

/* main page */
.time-status {
    width: 700px;
    margin: 35px auto 50px;
    text-align: center;
    border: 1px solid #ededed;
    border-radius: 15px;
    padding: 1em 2em;
}
body.dark .time-status {
    border-color: #121212;
}
.projects {
    margin: 0 5em;
}
.projects .project {
    position: relative;
    height: 60px;
    padding: 1em 25px;
    border-top: 1px dashed #999999;
}
.projects .project.non-actual {
    padding-top: 0.75em;
    height: 45px;
}
.projects .project:first-child {
    border-top-width: 0;
}
.projects .project:hover {
    background-color: #e2e2e2;
}
body.dark .projects .project:hover {
    background-color: #151515;
}
.projects .project .project-title {
    float: left;
    font-size: 160%;
    font-weight: bold;
}
.projects .project.non-actual .project-title {
    font-size: 120%;
    font-weight: normal;
}
.projects .project .project-title .task-opener {
    cursor: pointer;
    border-bottom: 1px dotted;
    display: none;
}
.projects .project .project-title .task-opener.current {
    display: inline;
}
.projects .project .project-time {
    float: right;
}
.projects .project .project-message {
    float: right;
    font-style: italic;
    font-size: 85%;
    padding: 0.4em 0.5em;
    text-align: right;
}
.task-list-container {
    padding: 0.2em 150px 1em;
}
.task-list-container .task {
    padding: 0.4em;
    border-radius: 3px;
}
.task-list-container .task:hover {
    background-color: #e2e2e2;
}
body.dark .task-list-container .task:hover {
    background-color: #151515;
}
.task-list-container .task-name {
    width: 70%;
    display: inline-block;
}
.task-list-container .task-name.task-done {
    text-decoration: line-through;
    color: #00cc00;
}
body.dark .task-list-container .task-name.task-done {
    color: #88ff88;
}
.task-list-container .task-name.task-red,
.projects .project .project-title.project-red .task-opener {
    font-weight: bold;
    color: #dd0000;
}
body.dark .task-list-container .task-name.task-red {
    color: #ff4444;
}
.task-list-container .task-name .task-date {
    font-style: italic;
    font-size: 85%;
    opacity: 0.7;
}
.task-list-container .task-button {
    float: right;
}
/* reports */
h1 {
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 55px;
}
h2, h3, h4 {
    margin: 0.7em 40px;
}
h5 {
    opacity: 0.4;
    margin: 0.5em 5px;
    font-size: 90%;
}
p {
    margin: 0.4em 40px;
}
table.stats {
    margin: 0 40px 1em;
}
table.stats td, table.stats th {
    padding: 0.4em 0.7em;
    border-collapse: collapse;
    border: 1px solid #ededed;
}
table.stats th {
    background-color: #d8d8d8;
}
tr.non-actual {
    font-size: 85%;
}
tr:hover {
    background-color: #e2e2e2;
}
tr.good {
    background-color: #ccffcc;
}
tr.good:hover {
    background-color: #bbddbb;
}
tr.bad {
    background-color: #ffcccc;
}
tr.bad:hover {
    background-color: #ddbbbb;
}
